* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header {
    margin-top: 32px;
    height: 120px;
}

header div {
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    margin: auto;
    width: 120px;
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform 0.3s ease;
}

header div:hover {
    transform: scale(1.1);
}

header img {
    width: 100%;
    border-radius: 50%;
}

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

section { 
    color: white; 
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634; 
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    font-weight: 400;
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

section ul li {
    transition: transform 0.3s ease;
}

section ul li:hover {
    transform: scale(1.1);
}

.manga-list img {
    width: 90px;
    border-radius: 8px;
}

.channel-list img {
    border: 1px solid #443E54;
    border-radius: 50%;
    width: 70px;
}


/* ANIMATION */

header div {
    animation: fromTop 0.7s 0.1s backwards;
}

main section:nth-child(1) {
    animation: fromBottom 0.7s 0.1s backwards;
}

main section:nth-child(2) {
    animation: fromBottom 0.7s 0.3s backwards;
}

main section:nth-child(3) {
    animation: fromBottom 0.7s 0.5s backwards;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-50px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30pc)
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}